body{
    --main_color: #54de62;
    background: var(--main_color);
    --road_color: #4a4a4a;
    --pavement_color: #6b6b6b;
    width: 100%;
    overflow: hidden;
}
.road{
    height: 24px;
    position: absolute;
    z-index: 1;
    background: url(../img/road.png);
    background-position: center;
    background-color: black;
    
}
.main_circle{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    background: var(--road_color);
    border-radius: 50%;
}
.main_circle_border{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 0;
    background: var(--pavement_color);
    border-radius: 50%;
}
.car_red{
    width: 15px;
    height: 8.5px;
    background: url(../img/car_red.png);
    background-size: 100%;  
    background-color: var(--road_color);
    position: absolute;
    z-index: 3;
}
.tree{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
    z-index: 1;
}
.tree_branch1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
}
.tree_branch2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
}
.tree_shadow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}
.tree_branch1_shadow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}
.tree_branch2_shadow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}