@font-face {
    font-family: "TitleFont";
    src: url("fonts/FredokaOne-Regular.ttf");
}

.menu_body{
    z-index: 7;
    position: relative;
}

.menu_sim{
    border-radius: 10px;
    position: fixed;
    font-family: "TitleFont", Fallback, sans-serif;
    list-style-type:none;

    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    -webkit-text-stroke: 1px #4a4a4a;
    color: rgb(150, 150, 150);
    margin: 1vw;
    margin-bottom: 0.5vh;
    padding-right: 2vw;
    padding-left: 2vw;
    width: 10vh;
    display: table;
    z-index: 6;
    background-color: rgba(17, 16, 16, 0.7);
    
}
 .button_sim:hover {background-color: #6b6b6b}

 .button_sim:active {
     background-color: #4a4a4a;
     box-shadow: 0 5px #000;
     transform: translateY(4px);
 }
 
 .button_sim{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #333333;
    display: block;
    user-select: none;
    margin-bottom: 3vw;
    margin-top: 0vw;
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    width: max(10vw, 90px);
    margin-bottom: 4vh;
    /* height: max(10vh, 20px); */
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #000;
 
 }
/* menu sector */
.menu_name{
    font-family: "TitleFont", Fallback, sans-serif;
    
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    -webkit-text-stroke: 5px #4a4a4a;
    color: rgb(150, 150, 150);   
}


 /* visualization sector */


body{
    --main_color: #54de62;
    background: var(--main_color);
    --road_color: #4a4a4a;
    --pavement_color: #6b6b6b;
    width: 100%;
    overflow: hidden;
}

.road{
    height: 28px;
    position: absolute;
    z-index: 1;
    background: url(../img/road.png);
    background-position: center;
    background-color: black;
}
.road_one_line{
    height: 14px;
    position: absolute;
    z-index: 1;
    background: url(../img/road_one.png);
    background-position: center;
    background-color: black;
}
.main_circle{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    background: var(--road_color);
    border-radius: 50%;
}
.main_circle_border{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 0;
    background: var(--pavement_color);
    border-radius: 50%;
}
.car_red{
    width: 15px;
    height: 8.5px;
    background: url(../img/car_red.png);
    background-size: 100%;  
    background-color: var(--road_color);
    position: absolute;
    z-index: 3;
}
.tree{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
    z-index: 1;
}
.tree_branch1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
}
.tree_branch2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #46ab4d;
    position: absolute;
}
.tree_shadow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}
.tree_branch1_shadow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}
.tree_branch2_shadow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #264228;
    position: absolute;
    z-index: -1;
}
.set_container{
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 4;
}
.set_container > *{
    margin: 5px;
    color: #2e2e2e;
    background: #757575;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 4;
    font-weight: bold;
    font-size: 20px;
}
.set_h3{
    display: inline;
}

#ctxMenu{
    display:none;
    z-index:100;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#eef;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:55px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630";
}

div {
    position: fixed;
}
