<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/settings.css">
    <title>Traffic Model</title>

    <style type="text/css" media="screen, print">

     </style>


</head>
<body>
<div class="menu_body">
    <ul class="menu_list">
        <li class="title_li">
            <h1 class="title_text"> Settings </h1>
        </li>
        <form method="post" id="save_form" action="/settings" enctype="multipart/form-data">
            <label for="file_selector" class="description">
                Select Map or Upload OSM file:
            </label>
            <li class="button_li">

                <details id="file_selector" class="custom-select">
                    <summary class="radios">
                        <input type="radio" name="item" value="/ivano-frankivsk.osm" id="item1" title="Ivano-Frankivsk" checked>
                        <input type="radio" name="item" id="item2" title="Item 2">
                        <input type="radio" name="item" id="item3" title="Item 3">
                        <input type="radio" name="item" id="item4" title="Item 4">
                        <input type="radio" name="item" value="UploadFile" id="UploadFilesRadio" title=" ">
                    </summary>
                    <input type="file" name="inputFile" id="UploadFiles" title=" " onchange="getFile(event)" accept=".osm">

                    <ul class="list ul_select">
                        <li class="li_select">
                            <label for="item1">Ivano-Frankivsk</label>
                        </li>
                        <!-- <li class = "li_select">
                        <label for="item2">Item 2</label>
                    </li>
                    <li class = "li_select">
                        <label for="item3">Item 3</label>
                    </li>
                    <li class = "li_select">
                        <label for="item4">Item 4</label>
                    </li> -->
                        <li class="li_select">
                            <label for="UploadFiles">Upload from PC</label>
                        </li>
                    </ul>
                </details>
            <li>
                <label for="cars_n" class="description">Number of cars:</label>
                <input type="number" name="cars_n" id="cars_n">

            </li>

            </li>
            <li class="button_li presable" onclick="save_form()">
                <input type="submit" value="Save">
            </li>
        </form>
        <li class="button_li presable" onclick="go_menu()">
            Back
        </li>
    </ul>

    <script>

        var file_selected = false;

        function go_menu(){
            location.href = '/';
        }

        function save_form(){
            document.getElementById("save_form").submit();
        }


        function getFile(e){
            var name = document.getElementById('UploadFiles').files.item(0).name;
            document.getElementById('UploadFilesRadio').title = name;
            document.getElementById('UploadFilesRadio').click();
            
        }
    </script>

    <script src="js/settings.js"></script>
</div>
</body>
</html>